h1 {
  text-align: center;
  margin: 1rem auto;
  position: relative;
  color: white;
  font-size: 4rem;
}

.headerBackground {
  background-color: rgba(62, 62, 62, 0.78);
  margin: 0 0.5rem;
}

aside {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 4.85rem;
  right: 1.5rem;
  font-size: smaller;
  color: white;
}
