ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.button {
  border: 1px solid whitesmoke;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(237, 231, 231, 0.63);
  color: white;
  background-color: rgba(62, 62, 62, 0.78);
}
